USE [master]
GO
/****** Object:  Database [task_db]    Script Date: 20/12/2023 22:38:35 ******/
CREATE DATABASE [task_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'task_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\task_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'task_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\task_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [task_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [task_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/12/2023 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 20/12/2023 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskCategories]    Script Date: 20/12/2023 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaskCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTasks]    Script Date: 20/12/2023 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTasks](
	[Id] [uniqueidentifier] NOT NULL,
	[TaskCategoryId] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_WorkTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231220111542_task_management', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Name], [Email], [Password]) VALUES (1, N'neamul', N'neamul909976@gmail.com', N'ADX4VeuwJ0BAoXSOXntYdJQJoRd61V+N/TNePnJfu38=')
INSERT [dbo].[Members] ([Id], [Name], [Email], [Password]) VALUES (2, N'Jignesh', N'neamul@gmail.com', N'ADX4VeuwJ0BAoXSOXntYdJQJoRd61V+N/TNePnJfu38=')
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskCategories] ON 

INSERT [dbo].[TaskCategories] ([Id], [Name]) VALUES (2, N'Windows')
SET IDENTITY_INSERT [dbo].[TaskCategories] OFF
GO
INSERT [dbo].[WorkTasks] ([Id], [TaskCategoryId], [Title], [Description], [DueDate], [Status]) VALUES (N'3ce97768-72f8-45b6-a45b-08dc0166491a', 2, N'Basic task', N'I am creating now a basic task', CAST(N'2023-12-20T14:15:33.6620000' AS DateTime2), 0)
GO
/****** Object:  Index [IX_WorkTasks_TaskCategoryId]    Script Date: 20/12/2023 22:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_WorkTasks_TaskCategoryId] ON [dbo].[WorkTasks]
(
	[TaskCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WorkTasks]  WITH CHECK ADD  CONSTRAINT [FK_WorkTasks_TaskCategories_TaskCategoryId] FOREIGN KEY([TaskCategoryId])
REFERENCES [dbo].[TaskCategories] ([Id])
GO
ALTER TABLE [dbo].[WorkTasks] CHECK CONSTRAINT [FK_WorkTasks_TaskCategories_TaskCategoryId]
GO
USE [master]
GO
